<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    
</head>
<body>
    
        <form  method="POST" id="authForm" style="margin-top: 150px; padding-left: 400px; padding-right: 400px;">
           <!-- <table>
                <tr>
                    <td>
                        Username
                    </td>
                    <td><input name="text" name = 'id' placeholder="id"> </td>
                </tr>
                <tr>
                    <td>
                        password
                    </td>
                    <td><input name="pasword" name = 'pw' placeholder="pw"></td>
                </tr>
    
                <tr>
                    <td colspan= 2><input type="submit" name="submit" value="Login" style="width: 203px;"></td>
    
                </tr>-->

    
                <div>
                    <p>
                    <h2 style="background-color: aquamarine;">Trading project </h1>
                    </p>
                    <h2> BY 김정현, 김태응</h2>
                    <p>
                        <label for="id">아이디&nbsp&nbsp&nbsp</label>
                        <input type="text" id="id" name="id" placeholder="id">
                    </p>
             
                    <p>
                        <label for="pw">비밀번호</label>
                        <input type="password" id="pw" name="pw" placeholder="pw">
                    </p>
                </div>
                <input type="submit" name="sign_in" value="sign in" style="WIDTH: 140"/>
                <button type="button" name="guest" value="guest" style="width: 100px" onclick="location.href= '/guest'" >guest 전용</button>​
            <p>
                <input type="button" style="width: 183;" value="register" name="register"style="WIDTH: 190px" height="150px" onclick="location.href='register.html'">
            </p>
            
    
    
        </form>


    
    
   
</body>
</html>