<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statechange</title>
</head>
<body>
    <form method="POST" id="authForm">
        <div>
            <h3>STATE CHNAGE </h3>
            <label><input type="radio"name = "state", value="SOLD">  SOLD </label>
           <label><input type="radio"name = "state", value="SELLING">  SELLING </label>
           <input type="submit" name="state" value="state change">  </button>
            
       
          </div>
    </form>
    
</body>
</html>